header {
    background: rgb(95, 94, 94);
}
.container{
 display:flex ;
 width: 100%;
}
 .card{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
 }  
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}
.card img{
    width: 100%;
    height: 225px;
}
.card-body{
    text-align: left;
}
.container-fluid{
    width: 100%;
    
}
body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
